body {
  margin: 0;
  background-color: #171c28;
  color:white;
  font: 19px/23px Montserrat,"Montserrat",sans-serif;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  font-size: 23px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #171c28;
}
.nav-sub1 {
  font-family: 'Caveat', cursive;
  text-decoration: none;
  color: white;
  font-size: 38px;
}
.nav-sub2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}
.nav-items{
  padding: 0px 40px;
  text-decoration: none;
  color: white;
}

/* home page */
.hello{
  font-size: 70px;
}
.info{
  font-size: 30px;
  line-height: 40px;
  width: 80%;
  margin-top: 80px;
}
.img{
  width:600px
}
.divide{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}
.home-sub1{
  flex:50%;
   flex-wrap: wrap;
}
.home-sub2{
  flex:50%;
}
.btn{
  background-color: #55198b;
  border: 1px solid #55198b;
  padding: 15px;
  color:white;
  font-size: 16px;
  cursor: pointer;
  margin:20px 60px 0px 0px;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-5px);
  color: #55198b;
  background-color: white;
}
.icon-container{
  margin:30px 0px;
  display: flex;
  flex-direction: row;
}
.icons{
  padding: 14px 15px ;
  border-radius: 100%;
  margin-right: 10px;
}
.linkedin{
  background-color: #0e76a8;
}
.mail{
  background-color: #ea4335;

}
.git{
  background-color: #333;
 
}
.gif{
  width: 90px;
  padding-left: 20px;
  margin-bottom: -13px;
}
/* skills page */
.skill-icons{
  color:#868e96;
  font-size: 3rem;
  padding: 14px 14px 0px 14px ;
  
}
.skill-icons :hover{
  color:#55198b;
}
.icon-names{
  color:#868e96;
  font-size: 12px;
  text-align: center;
}

.head1{
  font-size: 56px;
  font-weight: 100;
}
.skills{
  padding: 40px 0px;
}
.skill-sub{
  padding: 100px 80px;
}
/* project page */

.project{
  border: 0px solid red;
  width:90%;
  margin: 0px auto; 
}
.pro{
  padding: 20px 0px;
}
.head{
  padding: 10px 20px;
}
.project-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin:0 auto;
  gap:15px;
}
.grid-items{
  background-color: #242a38;
  width:360px;
  height:150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
  cursor: pointer;
  transition: all .7s ease;
}
 
.grid-items:hover{
  
  box-shadow: 0px 0px 16px #d9dbdf;
  background-color: #55198b;
}
.name{
  font-size: 25px;
}
.repo{
  width:30px;
  margin-bottom: -9px;
}
.git-btn{
  margin: 50px auto;
  text-align: center;
}

.dot-color {
  display: inline-block; 
  width: 10px;
  height: 10px;
  border-radius: 100%;
  vertical-align: middle; 
}

.language {
  display: inline-block; 
  margin-left: 5px; 
  vertical-align: middle; 
}

/* experience page */
.experience{
  padding: 60px 0px ;
}
.experience-grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  margin:0 auto;
  gap:15px ;
  padding:20px;
}

.exp-items{
  background-color: #171c28;
  border:0.1px solid grey;
  border-radius:10px;
  width:310px;
  height:450px;
  line-height: 2rem;
}
.part1{
  background-color: blueviolet;
  border-radius:10px;
  padding: 80px 0px;
  text-align: center;
  font-size: 35px;
}
.part2{
  padding: 20px;
}

/* contact page */

.contact-head{
  font-size: 65px;
  font-weight: 100;
}

.details{
  font-size: 30px;
}
.info2{
  font-size: 15px;
  width: 90%;
}

.image-container {
  background-color: #171c28;
}

.link{
  text-decoration: none;
  color: white;
}
.contact{
  padding: 60px 0px;
}
